version: '3.8'

services:
  webapp:
    image: marwanwalid5/financeapp:latest
    build: ./webapp
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/
      - DB_NAME=bank
      - KEY=secret
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
