version: '3.8'

services:
  webapp:
    image: marwanwalid5/financeapp:latest
    build: 
      context: ./webapp
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb://mongo:27018/
      - DB_NAME=bank
      - KEY=secret
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
