<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transaction.css') }}">
    <title>Transaction Log</title>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <div class="spacer"></div> 
            <span class="header-title">Personal Finance Manager</span>
            <a href="/account" class="account-icon"></a>
        </div>
    </div>
    <div class="container">
    <div class="sidebar">
        <ul>
            <li><a href="/"><span class="icon home-icon"></span><span class="text">Home</span></a></li>
            <li><a href="/transaction_log"><span class="icon log-icon"></span><span class="text">Transactions</span></a></li>
            <li><a href="/report"><span class="icon report-icon"></span><span class="text">Report</span></a></li>
        </ul>
    </div>
    <div class="main-content">
        <h1>Transaction Log</h1>
        <div class="transaction-controls">
            <div class="transaction-buttons">
                <button class="btn" id="money-in">Money In</button>
                <button class="btn" id="money-out">Money Out</button>
            </div>
            <input type="text" id="search-box" placeholder="Search Entries">
        </div>
           <ul class="transaction-list">
            <li>Transaction 1</li>
            <li>Transaction 2</li>
        </ul>
    </div>
    </div>
</div>
<div class="footer">
    <p class="footer-text">© 2023 My App. All Rights Reserved.<a href="/contact" class="contact-link"></br>Contact Us</a></p>
</div>
</body>
</html>
