.header {
    background-color: #333; 
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: white;
    text-align: center; 
    flex-grow: 1; 
}

.account-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('/static/img/accounticon.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: auto; 
}

.spacer { 
    width: 40px;
    height: 40px;
    display: inline-block;
    visibility: hidden;
}

.logout-button {
    padding: 5px 10px;
    background-color: #696868; 
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 20px; 
}

.logout-button:hover {
    background-color: #3f3e3e;
}
