.dashboard {
    margin: 20px 0;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.dashboard h2, .dashboard h3 {
    margin-bottom: 10px;
}

.dashboard ul {
    list-style-type: none;
    padding: 0;
}

.dashboard ul li {
    margin-bottom: 5px;
}
